.left-panel {
  height: 916px;
  width: 267px;
  background-color: #ffffff;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-leftnav {
  background-color: #EDEEF2 !important;
}

.tab-switcher {
  height: 16px;
  width: 63px;
  color: rgba(144, 141, 141, 0.8);
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 16px;
}
.w-20p {
  width: 20%;
}
.w-100p {
  width: 100%;
}
.h-100p {
  height: 100%;
}
.h-100vh {
  height: 100vh;
}
.h-60 {
  height: 60px !important;
}
.oflow-y-auto {
  overflow-y: auto;
}
.flex {
  display: flex;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-r {
  display: flex;
  flex-direction: row;
}
.flex-a-center {
  align-items: center;
}
.flex-j-center {
  justify-content: center;
}
.flex-j-s-b {
  justify-content: space-between;
}
.flex-j-end {
  justify-content: end;
}
.flex-1 {
  flex: 1;
}

.gap-10 {
  gap: 10px;
}
.gap-4 {
  gap: 4px;
}
/* margin */
.m-0 {
  margin: 0 !important;
}
.m-8 {
  margin: 8px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-0-20 {
  margin: 0 20px !important;
}
.m-b-2 {
  margin-bottom: 2px !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-r-1 {
  margin-right: 6px !important;
}
.margin-left-2x {
  margin-left: 20px;
}
.margin-top-x {
  margin-top: 10px;
}
.margin-top-2x {
  margin-top: 20px;
}

/*padding*/
.p-0 {
  padding: 0 !important;
}
.p-20 {
  padding: 20px !important;
}
.p-0-20 {
  padding: 0 20px !important;
}
.p-l-icon {
  padding-left: 2.67142857em !important;
}
.p-0-10 {
  padding: 0 10px !important;
}

.left-0 {
  left: 0;
}

.color-sky {
  color: skyblue;
  /* width: 11px;
  height: 11px; */
}

.accordion-padding {
  padding: 13px 10px 15px 0px !important;
  font-size: 14px;
  font-family: arial;
  color: #000000;
  font-weight: bold !important;
  letter-spacing: 0.16px;
  line-height: 16px;
}

/* font */
.fw-b {
  font-weight: bold;
}

/* border*/
.border-t {
  border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
}
.border-b {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
}

/*cursor*/
.cursor-p {
  cursor: pointer;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #e31837 !important;
}


.cardClasses {
  height: 68px !important;
  /* width: 215px !important; */
  width: 298px !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  opacity: 0.8 !important;
  border-radius: 6px !important;
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
  box-sizing: border-box !important;
  margin-left: 25px !important;
  margin-right: 15px !important;
}

.tabsWidth {
  /* width: 260px !important; */
  width: 356px !important;
}

.card-label-1 {
  height: 14px;
  width: 250px;
  color: #000000;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fs-10 {
  font-size: 10px;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13.33px !important;
}
.fs-18 {
  font-size: 18.67px !important;
}
.fs-24 {
  font-size: 24px !important;
}

.ui.card > .content {
  padding: 0.75em 0.75em !important;
}

.color-sky-label {
  /* height: 14px;
  width: 90px; */
  color: #0073cf;
  font-size: 12px;
  font-family: Arial !important;
}

.tabWidth {
  width: 270px !important;
}

.core-color {
  color: #8bc34a;
}

/* .ui.segment{
  margin: 0.5rem 0 !important;
} */

.rightExpand {
  margin-left: 138px;
  margin-top: 10px;
}

.rightResults {
  margin: 20px 25px 0px 15px !important;
}

.color-violet {
  color: #6236ff;
}

.ui.checkbox input:checked ~ label:before {
  background: rgb(26, 101, 214) !important;
  border-color: rgb(26, 101, 214) !important;
}
.ui.radio input:checked ~ label:before {
  background-color: #fff !important;
}
.ui.checkbox input:checked ~ label:after {
  opacity: 1;
  color: #fff !important;
}
.ui.radio.checkbox input:checked ~ label:after {
  color: #fff !important;
}
.ui.radio.checkbox input:checked ~ label:after {
  background-color: rgb(26, 101, 214) !important;
}

.float-right {
  float: right;
}
.secondary-color {
  color: #edeef2 !important;
}
.ui.menu {
  margin: 0 !important;
}
.displayBlock {
  display: block !important;
}
.ui.secondary.pointing.menu {
  font-size: 18.67px !important;
  border-bottom: unset !important;
  margin-bottom: 2px !important;
}
.ui.basic.table {
  border: unset !important;
}
.rightTabWidth {
  width: 498px !important;
}
.ui.checkbox {
  padding: 10px !important;
}

.color-red {
  color: #E31837 !important
}
.iconClasses {
  width: 21px;
  height: 21px;
}
.tabiconClasses {
  height: 40px;
  width: 45px !important;
}
.required.field>label:after {
  color: black !important;
  margin: -.1em 0 0 .1em !important;
}
/*Topologies node styles*/
.node-wrapper .circle-5 {
  margin-top: 4px;
  margin-right: 10px;
}
.react-flow__node-selectorNode {
  /* height: 51px !important; */
  /* width: 233px !important; */
  color: #000;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.node-footer img {
  height: 14px;
  width: 14px;
}
.node-footer button.btn-toggle-node div {
  display: flex;
    justify-content: center;
    align-items: center;
}

.node-footer button.btn-toggle-node img {
  flex: 0 1 auto;
}
.btn-transparent {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
/*Life Cycle Status Code for topologies nodeType*/
.controlled {
  color: #7030a0;
}
.emerging {
  color: #002060;
}
.core {
  color: #92d051;
}
.declining {
  color: #375624;
}
.non-permitted {
  color: #ed7d31;
}
.non-strategic {
  color: #c00100;
}
.poc {
  color: #a6a6a6;
}
.auto-discovered {
  color: #808080;
}

.tab-menu-item{
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.tab-menu-item-active{
  background-color: #0073cf !important;
  color: #fff !important;
}

.react-flow__node-selectorNode.selected {
  border: 2px solid #3173CC;
}

.selected-card {
  border: 1px solid #0053C2 !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;
  opacity: 0.8 !important;
}