.Header {
  /* position: absolute;
  top: 0px;
  bottom: 976px;
  left: 0px;
  right: 0px;
  height: 48px;
  width: 1440px; */
  padding: 25px;
  display: flex;
  height: 64px;
  background-color: #012169;
}
.Header-text {
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 0.16px;
  margin-left: 70px;
}
.Header-username {
  position: absolute;
  top: 10px;
  /* bottom: 0.7px; */
  /* left: 1281px; */
  right: 50px;
  height: 18px;
  width: 83px;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 18px;
  text-align: right;
}
.Header-profileimage {
  position: absolute;
  top: 14px;
  right: 158px;
  /* bottom: 987px;
  left: 1247px;
  height: 26px;
  width: 26px; */
}
.Header-userrole {
  position: absolute;
  /* top: 22px;
  bottom: 984px; */
  /* left: 1281px; */
  right: 49px;
  height: 18px;
  width: 93px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 0.09px;
  line-height: 18px;
  text-align: right;
}
.Header-dropdownicon {
  position: absolute;
  top: 21px;
  bottom: 997.3px;
  /* left: 1401px; */
  right: 29px;
  height: 5.7px;
  width: 10px;
  
}
