.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  height: 136%;
}

.side-navigationbar { 

  /* position: absolute;
  top: 48px;
  bottom: 0px;
  left: 0px;
  right: 1392px;
  height: 976px;
  width: 48px; */
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  width: 5%;
  /* background-color: #edeef2; */
  padding-top: 30px;
  /* min-height: 950px; */
  height: 108% !important;
}
.screen {
  display: flex;
  width: 95%;
  height: 100%;
  background-color: #fff;
  /* top: 48px;
  bottom: 0px;
  left: 48px;
  right: 0px;
  height: 976px;
  width: 1392px; */
}
.nav-icon {
  width: 30px;
  height: 26px;
}
